.currency-form {
  background: rgb(32, 189, 142);
  color: white;
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: -60px;
  padding: 1em 0;
}

.add-expense {
  background-color: rgba(157, 171, 233, 0.575);
  border-radius: 0.2em;
  padding: 0.5em;
}

.edit-expense {
  background-color: rgb(49, 49, 255);
  color: white;
}
